@charset "utf-8";
/* CSS Document - automatic slideshow 27.05.2021*/

.swiper-container {
	position: relative;
	display: flex;
	margin: 0 auto;
	overflow: hidden;
	list-style: none;
	padding: 0;
	/* Fix of Webkit flickering */
	z-index: 1;
	pointer-events: none;
}

.swiper-container, .swiper-container * {
	backface-visibility: hidden;
}

.swiper-container-no-flexbox .swiper-slide {
	float: left;
}

.swiper-container-vertical > .swiper-wrapper {
	flex-direction: column;
}

.swiper-wrapper {
	position: relative;
	z-index: 1;
	display: flex;
	align-self: stretch;
	align-items: stretch;
	width: 100%;
	height: auto;
	min-height: inherit;
	transition-property: transform;
	box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
	transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
	flex-wrap: wrap;
}

.swiper-container-free-mode > .swiper-wrapper {
	transition-timing-function: ease-out;
	margin: 0 auto;
}

.swiper-slide {
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative;
	background-size: cover;
	transition-property: transform, transform;
	pointer-events: auto;
	contain: paint;
}

.swiper-invisible-blank-slide {
	visibility: hidden;
}

/* Auto Height */
.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
	height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
	align-items: flex-start;
	transition-property: transform, height;
}

/* 3D Effects */
.swiper-container-3d {
	perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
	transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-right {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* IE10 Windows Phone 8 Fixes */
.swiper-container-wp8-horizontal,
.swiper-container-wp8-horizontal > .swiper-wrapper {
	touch-action: pan-y;
}

.swiper-container-wp8-vertical,
.swiper-container-wp8-vertical > .swiper-wrapper {
	touch-action: pan-x;
}

.swiper-button-prev,
.swiper-button-next {
	position: absolute;
	top: 50%;
	width: 27px;
	height: 44px;
	margin-top: -22px;
	z-index: 10;
	cursor: pointer;
	background-size: 27px 44px;
	background-position: center;
	background-repeat: no-repeat;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
	opacity: 0.35;
	cursor: auto;
	pointer-events: none;
}

.swiper-button-lock {
	display: none;
}

.swiper-pagination {
	position: absolute;
	text-align: center;
	transition: 300ms opacity;
	transform: translate3d(0, 0, 0);
	z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
	opacity: 0;
}

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
	bottom: 10px;
	left: 0;
	width: 100%;
}

/* Bullets */
.swiper-pagination-bullets-dynamic {
	overflow: hidden;
	font-size: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	transform: scale(0.33);
	position: relative;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
	transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
	transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
	transform: scale(0.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
	transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
	transform: scale(0.33);
}

.swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	display: inline-block;
	border-radius: 100%;
	background: #000;
}

button.swiper-pagination-bullet {
	border: none;
	margin: 0;
	padding: 0;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
	cursor: pointer;
}

.swiper-pagination-bullet-active {
	opacity: 1;
	background: #007aff;
}

.swiper-container-vertical > .swiper-pagination-bullets {
	right: 10px;
	top: 50%;
	transform: translate3d(0px, -50%, 0);
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 6px 0;
	display: block;
}

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
	top: 50%;
	transform: translateY(-50%);
	width: 8px;
}

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	display: inline-block;
	transition: 200ms transform, 200ms top;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 4px;
}

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
}

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	transition: 200ms transform, 200ms left;
}

.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	transition: 200ms transform, 200ms right;
}

/* Progress */
.swiper-pagination-progressbar {
	background: rgba(0, 0, 0, 0.25);
	position: absolute;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
	background: #007aff;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transform: scale(0);
	transform-origin: left top;
}

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
	transform-origin: right top;
}

.swiper-container-horizontal > .swiper-pagination-progressbar {
	width: 100%;
	height: 4px;
	left: 0;
	top: 0;
}

.swiper-container-vertical > .swiper-pagination-progressbar {
	width: 4px;
	height: 100%;
	left: 0;
	top: 0;
}

.swiper-pagination-white .swiper-pagination-bullet-active {
	background: #fff;
}

.swiper-pagination-progressbar.swiper-pagination-white {
	background: rgba(255, 255, 255, 0.25);
}

.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill {
	background: #fff;
}

.swiper-pagination-black .swiper-pagination-bullet-active {
	background: #000;
}

.swiper-pagination-progressbar.swiper-pagination-black {
	background: rgba(0, 0, 0, 0.25);
}

.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill {
	background: #000;
}

.swiper-pagination-lock {
	display: none;
}

/* Scrollbar */
.swiper-scrollbar {
	border-radius: 10px;
	position: relative;
	-ms-touch-action: none;
	background: rgba(0, 0, 0, 0.1);
}

.swiper-container-horizontal > .swiper-scrollbar {
	position: absolute;
	left: 1%;
	bottom: 3px;
	z-index: 50;
	height: 5px;
	width: 98%;
}

.swiper-container-vertical > .swiper-scrollbar {
	position: absolute;
	right: 3px;
	top: 1%;
	z-index: 50;
	width: 5px;
	height: 98%;
}

.swiper-scrollbar-drag {
	height: 100%;
	width: 100%;
	position: relative;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	left: 0;
	top: 0;
}

.swiper-scrollbar-cursor-drag {
	cursor: move;
}

.swiper-scrollbar-lock {
	display: none;
}

.swiper-zoom-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	text-align: center;
}

.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
	max-width: 100%;
	max-height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}

.swiper-slide-zoomed {
	cursor: move;
}


/* a11y */
.swiper-container .swiper-notification {
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	opacity: 0;
	z-index: -1000;
}

.swiper-container-fade .swiper-container-free-mode .swiper-slide {
	transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
	pointer-events: none;
	transition-property: opacity;
}

.swiper-container-fade .swiper-slide .swiper-slide {
	pointer-events: none;
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
	pointer-events: auto;
}

.swiper-container-cube {
	overflow: visible;
}

.swiper-container-cube .swiper-slide {
	pointer-events: none;
	backface-visibility: hidden;
	z-index: 1;
	visibility: hidden;
	transform-origin: 0 0;
	width: 100%;
	height: 100%;
}

.swiper-container-cube .swiper-slide .swiper-slide {
	pointer-events: none;
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
	transform-origin: 100% 0;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active {
	pointer-events: auto;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
	pointer-events: auto;
	visibility: visible;
}

.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right {
	z-index: 0;
	backface-visibility: hidden;
}

.swiper-container-cube .swiper-cube-shadow {
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.6;
	filter: blur(50px);
	z-index: 0;
}

.swiper-container-flip {
	overflow: visible;
}

.swiper-container-flip .swiper-slide {
	pointer-events: none;
	backface-visibility: hidden;
	z-index: 1;
}

.swiper-container-flip .swiper-slide .swiper-slide {
	pointer-events: none;
}

.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
	pointer-events: auto;
}

.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right {
	z-index: 0;
	backface-visibility: hidden;
}

.swiper-container-coverflow .swiper-wrapper {
	/* Windows 8 IE 10 fix */
	-ms-perspective: 1200px;
}

.swiper-button-prev,
.swiper-button-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: none;
	font-size: 38px;
	line-height: 1;
	color: #fff;
	text-align: center;
	cursor: pointer;
	transition: .2s ease-in;
	will-change: transform;
	z-index: 10;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
	color: #1ab785;
}

.swiper-button-prev::before,
.swiper-button-next::before {
	font-family: 'Material Design Icons';
}

@media (min-width: 768px) {
	.swiper-button-prev,
	.swiper-button-next {
		display: block;
	}
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
	opacity: 0.35;
	cursor: auto;
	pointer-events: none;
}

.swiper-button-prev {
	left: 30px;
}

.swiper-button-prev::before {
	content: "\f14a";
}

.swiper-button-next {
	right: 30px;
}

.swiper-button-next::before {
	content: "\f14f";
}

.swiper-slider.swiper-container-rtl .swiper-button-prev::before {
	content: "\f061";
}

.swiper-slider.swiper-container-rtl .swiper-button-next::before {
	content: "\f060";
}

.swiper-pagination {
	position: absolute;
	display: block;
	text-align: center;
	transition: .3s;
	transform: translate3d(0, 0, 0);
	z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
	opacity: 0;
}

.swiper-pagination.swiper-pagination-clickable .swiper-pagination-bullet {
	cursor: pointer;
}

.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 100%;
	background: rgba(255, 255, 255, 0.6);
	transition: .2s;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active, .swiper-pagination-bullet:hover {
	background: white;
}

.swiper-container-vertical > .swiper-pagination {
	right: 10px;
	top: 50%;
	transform: translate3d(0px, -50%, 0);
}

.swiper-container-vertical > .swiper-pagination .swiper-pagination-bullet {
	margin: 5px 0;
	display: block;
}

.swiper-container-horizontal > .swiper-pagination {
	bottom: 20px;
	left: 0;
	width: 100%;
}

.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
	margin: 0 5px;
}

.swiper-pagination-outer {
	position: absolute;
	left: 50%;
	transform: translate3d(-50%, 0, 0);
	z-index: 20;
	bottom: 30px;
	pointer-events: none;
}

.swiper-pagination-outer .swiper-pagination {
	pointer-events: auto;
}

.swiper-pagination.swiper-pagination-modern {
	position: relative;
	display: inline-block;
	width: auto;
	right: auto;
	left: auto;
	margin-left: -10px;
}

.swiper-pagination.swiper-pagination-modern .swiper-pagination-bullet,
.swiper-pagination.swiper-pagination-modern .swiper-pagination-mark {
	width: 32px;
	height: 32px;
	border-radius: 50%;
}

.swiper-pagination.swiper-pagination-modern .swiper-pagination-bullet {
	display: inline-block;
	background: transparent;
	font-weight: 400;
	color: #29293a;
	text-align: center;
	transition: .33s;
	line-height: 32px;
	margin: 0 10px;
}

.swiper-pagination.swiper-pagination-modern .swiper-pagination-mark {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: -1;
	left: -10px;
	display: block;
	background: #1ab785;
	transition: .4s ease-in-out;
}

.swiper-pagination.swiper-pagination-modern .swiper-pagination-bullet:not(.swiper-pagination-bullet-active):hover {
	font-weight: 700;
}

.swiper-pagination.swiper-pagination-modern .swiper-pagination-bullet-active {
	color: #fff;
}

.swiper-pagination.swiper-pagination-modern .swiper-pagination-bullet-active:nth-child(1) ~ .swiper-pagination-mark {
	transform: translateX(20px);
}

.swiper-pagination.swiper-pagination-modern .swiper-pagination-bullet-active:nth-child(2) ~ .swiper-pagination-mark {
	transform: translateX(72px);
}

.swiper-pagination.swiper-pagination-modern .swiper-pagination-bullet-active:nth-child(3) ~ .swiper-pagination-mark {
	transform: translateX(124px);
}

.swiper-pagination.swiper-pagination-modern .swiper-pagination-bullet-active:nth-child(4) ~ .swiper-pagination-mark {
	transform: translateX(176px);
}

.swiper-pagination.swiper-pagination-modern .swiper-pagination-bullet-active:nth-child(5) ~ .swiper-pagination-mark {
	transform: translateX(228px);
}

.swiper-pagination.swiper-pagination-modern .swiper-pagination-bullet-active:nth-child(6) ~ .swiper-pagination-mark {
	transform: translateX(280px);
}

.swiper-pagination.swiper-pagination-modern .swiper-pagination-bullet-active:nth-child(7) ~ .swiper-pagination-mark {
	transform: translateX(332px);
}

.swiper-pagination.swiper-pagination-modern .swiper-pagination-bullet-active:nth-child(8) ~ .swiper-pagination-mark {
	transform: translateX(384px);
}

.swiper-pagination.swiper-pagination-modern .swiper-pagination-bullet-active:nth-child(9) ~ .swiper-pagination-mark {
	transform: translateX(436px);
}

.swiper-pagination.swiper-pagination-modern .swiper-pagination-bullet-active:nth-child(10) ~ .swiper-pagination-mark {
	transform: translateX(488px);
}

.swiper-pagination.swiper-pagination-modern .swiper-pagination-bullet-active:nth-child(11) ~ .swiper-pagination-mark {
	transform: translateX(540px);
}

.swiper-pagination.swiper-pagination-modern .swiper-pagination-bullet-active:nth-child(12) ~ .swiper-pagination-mark {
	transform: translateX(592px);
}

.context-dark .swiper-pagination .swiper-pagination-bullet, .bg-gray-700 .swiper-pagination .swiper-pagination-bullet, .bg-gray-800 .swiper-pagination .swiper-pagination-bullet, .bg-primary .swiper-pagination .swiper-pagination-bullet, .bg-primary-darker .swiper-pagination .swiper-pagination-bullet, .bg-primary-gradient .swiper-pagination .swiper-pagination-bullet {
	color: #fff;
}

.swiper-slide {
	position: relative;
	display: flex;
	align-items: center;
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	white-space: nowrap;
	background-position: 55% center;
}

.swiper-slide > * {
	width: 100%;
	white-space: normal;
}

.swiper-slide .container {
	width: 100%;
}

.swiper-slider-light {
	min-height: 40.41667vw;
}

.swiper-slider-light .swiper-slide::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
	pointer-events: none;
}

.swiper-slider-light[data-custom-slide-effect='inter-leave-effect'] .slide-inner {
	background: inherit;
}

.swiper-slider-light .swiper-slide-caption {
	position: relative;
	z-index: 1;
	max-width: 650px;
	padding: 40px 0 80px;
}

.swiper-slider-light h1 span, .swiper-slider-light h2 span, .swiper-slider-light h3 span, .swiper-slider-light h4 span, .swiper-slider-light h5 span, .swiper-slider-light h6 span, .swiper-slider-light [class^='heading-'] span {
	display: block;
}

.container + .swiper-slider-light {
	margin-top: 20px;
}

@media (min-width: 576px) {
	.swiper-slider-light .swiper-slide::before {
		background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
	}
	.swiper-slider-light .slider-slide-caption {
		padding: 45px 0 95px;
	}
}

@media (min-width: 768px) {
	.swiper-slider-light .swiper-slide {
		background-position: center center;
	}
	.swiper-slider-light .swiper-slide::before {
		display: none;
	}
	.swiper-slider-light .swiper-slide-caption {
		padding: 80px 0 165px;
	}
	.swiper-slider-light .swiper-pagination-outer {
		bottom: 50px;
	}
}

@media (min-width: 1200px) {
	.swiper-slider-light .swiper-pagination-outer {
		bottom: 72px;
	}
}

.swiper-slider-business {
	min-height: 41.66667vw;
}

.swiper-slider-business .swiper-slide {
	background-position: 60% 50%;
}

.swiper-slider-business .swiper-slide::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(to right, rgba(41, 41, 58, 0.7), rgba(41, 41, 58, 0.4));
	pointer-events: none;
}

.swiper-slider-business .swiper-slide > * {
	position: relative;
	z-index: 1;
}

.swiper-slider-business .swiper-slide-caption {
	padding: 50px 0 100px;
}

.swiper-slider-business .swiper-caption-text {
	position: relative;
	overflow: hidden;
	max-width: 520px;
	padding-left: 35px;
}

.swiper-slider-business .swiper-caption-text p {
	width: 100%;
}

.swiper-slider-business .swiper-caption-text-inner {
	position: relative;
	overflow: hidden;
}

.swiper-slider-business .swiper-caption-text-sm {
	max-width: 420px;
}

.swiper-slider-business .swiper-caption-text-decoration {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 2px;
	background: #1ab785;
}

.swiper-slider-business .swiper-slider-nav {
	position: absolute;
	left: 50%;
	bottom: 20px;
	z-index: 20;
	width: 100%;
	transform: translate3d(-50%, 0, 0);
	pointer-events: none;
	text-align: left;
}

.swiper-slider-business .swiper-slider-nav > * + * {
	margin-left: 10px;
}

.swiper-slider-business .wow-outer {
	white-space: normal;
}

.swiper-slider-business .wow-outer span {
	display: inline-block;
}

.swiper-slider-business .swiper-button-prev,
.swiper-slider-business .swiper-button-next {
	position: relative;
	transform: none;
	left: auto;
	top: auto;
	right: auto;
	display: inline-block;
	pointer-events: auto;
}

.swiper-slider-business * + .swiper-caption-text {
	margin-top: 20px;
}

@media (min-width: 768px) {
	.swiper-slider-business .swiper-slide-caption {
		padding: 130px 0 180px;
	}
}

@media (min-width: 992px) {
	.swiper-slider-business .swiper-slider-nav {
		bottom: 40px;
	}
}

@media (min-width: 1200px) {
	.swiper-slider-business .swiper-slide::before {
		display: none;
	}
}

@media (min-width: 1600px) {
	.swiper-slider-business * + .swiper-caption-text {
		margin-top: 45px;
	}
}

.swiper-slider-minimal {
	min-height: 41.66667vw;
	text-align: center;
}

.swiper-slider-minimal .swiper-slide {
	background-position: 50% 50%;
	justify-content: center;
}

.swiper-slider-minimal .swiper-slide > * {
	position: relative;
	z-index: 1;
}

.swiper-slider-minimal .swiper-slide_video {
	display: flex;
	align-items: stretch;
}

.swiper-slider-minimal .vide_bg {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.swiper-slider-minimal .vide_bg::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
	opacity: .4;
}

.swiper-slider-minimal .swiper-slide-caption {
	position: relative;
	z-index: 2;
	padding: 80px 0 120px;
}

.swiper-slider-minimal .swiper-slide-text {
	position: relative;
	overflow: hidden;
	width: auto;
}

.swiper-slider-minimal .swiper-slide-text > * {
	position: relative;
	transform: translateY(100%);
}

.swiper-slider-minimal .swiper-slide-active .swiper-slide-text > * {
	transform: translateY(0);
	transition: .5s .3s;
}

@media (min-width: 768px) {
	.swiper-slider-minimal .swiper-slide-caption {
		padding: 170px 0 220px;
	}
	.swiper-slider-minimal .swiper-pagination-outer {
		bottom: 50px;
	}
}

@media (min-width: 1600px) {
	.swiper-slider-minimal .swiper-pagination-outer {
		bottom: 90px;
	}
}

[data-custom-slide-effect='inter-leave-effect'] .swiper-slide {
	display: flex;
	will-change: transform;
	overflow: hidden;
	align-items: stretch;
	min-height: inherit;
}

[data-custom-slide-effect='inter-leave-effect'] .slide-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-size: cover;
}

[data-custom-slide-effect='inter-leave-effect'] .slide-inner > * {
	width: 100%;
}

.swiper-slider-tiny {
	min-height: 400px;
}

.swiper-slider-tiny .swiper-slide {
	position: relative;
}

.swiper-slider-tiny .swiper-slide::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
	background: linear-gradient(to top, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 40%);
}

.swiper-slider-tiny .swiper-slide > * {
	position: relative;
	z-index: 1;
}

@media (min-width: 768px) {
	.swiper-slider-tiny {
		min-height: 39.58333vw;
	}
}

@media (min-width: 992px) {
	.swiper-slider-tiny .swiper-pagination-outer {
		bottom: 65px;
	}
}


